/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* color palette colors:
rgb(60,92,96) cover background
rgb(243,211,188) cover text


*/

body {
    font-family: Quicksand, sans-serif;
    color: black;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
}

#cslogo {
    width: 100px;
    margin-top: 15px;
    margin-left: 80px;
    float: left;
}

#navbar {
    font-size: 130%;
    letter-spacing: 2px;
    line-height: 90px;
    margin-right: 80px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
    
}
#navbar a {
    text-decoration: none; 
}
#navbar a:hover {
    color: rgb(186,124,70);
    border: 1px solid black;
    border-radius: 30px;
}


/* cover picture */

#outside-cover {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#cover-img {
    background: url("/assets/images/redcharlie-MVyF3usiDvI-unsplash.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: cover;
}

/* cover text */

#cover-text h2 {
    font-family: raleway, sans-serif;
    font-size: 135%;
    color: rgb(243,211,188);
    padding: 30px 0 0 30px;
    background-color: rgb(60,92,96, 0.7);
    border-radius: 30px;

    position: absolute;
    width: 50%;
    height: 120px;

    bottom: 200px;
    left: 5%;
    justify-content: center;
    align-items: center;
}

/* Introduction section */

#intro {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.left {
    width: 640px;
    padding: 30px;
    float: left;
    margin-left: 80px;
}
.right {
    width: 640px;
    height: 360px;
    padding: 15px;
    float: right;
    margin-right: 80px;
}
#intro-text {
    height: 360px;
}
#intro-text h2 {
    font-size: 180%;
    text-decoration: none;
    text-decoration-thickness: 2px;
    letter-spacing: 2px;
    color: black;
    line-height: 30px;
    padding-bottom: 10px;
}
#intro-text > p {
    margin-top: 15px;
    
}
#intro-video {
    margin-top: 20px;
}

/* Footer */

footer {
    width: 100%;
    height: 45px;
    color: rgb(243,211,188);
    background-color: rgb(186,124,70);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}
footer span {
    margin-left: 80px;
}
footer i {
    color: rgb(243,211,188);
    font-size: 180%;
    margin-left: 15px;
}
