/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* color palette colors:
rgb(60,92,96) cover background
rgb(243,211,188) cover text


*/

body {
    font-family: Quicksand, sans-serif;
    color: black;
    margin-bottom: 70px;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
}

#cslogo {

    margin-top: 15%;
    margin-left: 15%;
    max-width: 100px;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    font-size: 130%;
    letter-spacing: 2px;
    line-height: 90px;
    display: flex;
    justify-content: flex-end;
}

#navbar li {
    list-style-type: none;
    margin-right: 30px; 
    
}
#navbar a {
    text-decoration: none; 
}
#navbar a:hover {
    color: rgb(186,124,70);
    text-decoration: underline;
    text-decoration-style: 1px solid;
}
.nav-active {
    text-decoration: underline;
    text-decoration-style: 1px solid black;
}


/* cover picture */

#outside-cover {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#cover-img /* index page*/{
    background: url("/assets/images/redcharlie-MVyF3usiDvI-unsplash.jpg") no-repeat center center;
    height: 80%;
    width: 100%;
    background-size: cover;
}
#cover-img-2 /* about us page */{
    background: url("/assets/images/pexels-los-muertos-crew-8908114.jpg") no-repeat center center;
    height: 80%;
    width: 100%;
    background-size: cover;
    
}
#cover-img-3 /* get involved page */{
    background: url("/assets/images/Christian-Surfers-International-Gathering.jpg") no-repeat center;
    height: 80%;
    width: 100%;
    background-size: cover;
    transform: translate(0, -50px);
    
    justify-content: center;
    position: relative;
}
#cover-img-4 /* contact page */{
    background: url("/assets/images/pexels-jess-loiterton-4600761.jpg") no-repeat center center;
    height: 80%;
    width: 100%;
    background-size: cover;
}

/* cover text */
#cover-text {
    display: flex;
}
#cover-text h2 {
    font-family: raleway, sans-serif;
    font-size: 135%;
    color: rgb(243,211,188);
    padding: 2%;
    background-color: rgb(60,92,96, 0.7);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 50%;
}

/* Introduction section */

#intro {
    height: 500px;
    width: 100%;
    margin-top: 10px;
    
}
.left {
    width: 70%;
    padding: 30px;
    padding-bottom: 0;
    margin: 0 auto;
}
.left a {
    color: rgb(60,92,96);
    text-decoration: none;
}
.left a:hover {
    text-decoration: underline;
}
.right {
    width: 50%;
    padding: 15px;
    margin-right: 80px;
    
}
#intro-text {
    
    display: flex;
    flex-direction: column;
}
#intro-text h1, h2 {
    font-size: 180%;
    text-decoration: none;
    text-decoration-thickness: 2px;
    letter-spacing: 2px;
    color: black;
    line-height: 30px;
    padding-bottom: 10px;
}
#intro-text > p {
    margin-top: 15px;
    
}
#intro-video {
    margin-top: 20px;
}
iframe { 
    width: 100%; 
    height: 56.25vw; /* 100 * (9/16) */
}



/* Footer */

footer {
    width: 100%;
    height: 45px;
    
    color: rgb(243,211,188);
    background-color: rgb(186,124,70);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer span {
    margin-left: 3%;
    
}
footer i {
    color: rgb(243,211,188);
    font-size: 180%;
    margin-left: 15px;
}


/* Form styling, contact page */

form {
    max-width: 500px;
    height: 500px;
    background-color: rgb(60,92,96, 0.8);
    color: rgb(243,211,188);
    margin: 50px auto;
    margin-bottom: 95px;
    border-radius: 25px;
    padding: 15px;
    text-align: left;
}

.block {
    display: block;

}
label {
    margin: 15px 20px 5px 0;
    font-weight: bold;
    font-size: large;
}
form h1 {
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
}
form div {
    margin: 30px;
}

form input {
    height: 30px;
}
form input, textarea {
    font-size: absolute;    
    border-radius: 5px;
}


form input[type="submit"] {
    float: right;
    font-size: large;
    padding: 10px 15px 20px;
    color: rgb(60,92,96);
    background-color: rgb(243,211,188);
}
input[type="submit"]:hover {
    color: rgb(243,211,188);
    background-color: rgb(60,92,96);

}

/* Media querie 700px and below */

@media screen and (max-width:700px){
    header {
        display: flex;
        flex-direction: column;
        }
        
        #navbar {
        display: flex;
        flex-direction: column;
        align-items: center; 
        line-height: 30px;   
        }
        #navbar li {
            margin-right: 0;
        }
        #cslogo {
            margin: 0 auto;
        }
        #cover-img, #cover-img-2, #cover-img-3, #cover-img-4 {
            height: 50%;
        }
        #cover-text h2{
            bottom: 65%;
        }
        footer {
            font-size: 12px;
        }
