/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Quicksand, sans-serif;
    color: black;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
}

#cslogo {
    width: 5%;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
}

#navbar {
    font-size: 120%;
    letter-spacing: 3px;
    line-height: 90px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
    
}
#navbar a {
    text-decoration: none; 
}
#navbar a:hover {
    color: rgb(186,124,70);
    border: 1px solid black;
}


/* cover picture */

#outside-cover {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#cover-img {
    background: url("/assets/images/redcharlie-MVyF3usiDvI-unsplash.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: cover;
}

/* cover text */

#cover-text {
    font-family: raleway, sans-serif;
    font-size: 120%;
    color: rgb(243,211,188);
    padding: 30px 0 0 30px;
    background-color: rgb(60,92,96, 0.7);
    border-radius: 30px;

    position: absolute;
    width: 50%;
    height: 120px;

    bottom: 200px;
    left: 5%;
    justify-content: center;
    align-items: center;
}